<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>161815753669-2brke6400l0n684nadr1nudqskglk5l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161815753669-2brke6400l0n684nadr1nudqskglk5l0</string>
	<key>API_KEY</key>
	<string>AIzaSyCGiF_yz4U_EArhdznOMCJ-S8d5w9nB0Vc</string>
	<key>GCM_SENDER_ID</key>
	<string>161815753669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chaseklingel.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-8f0aa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-8f0aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161815753669:ios:96e64ebce7372bef</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-8f0aa.firebaseio.com</string>
</dict>
</plist>